@import "reset.css";


body {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat; 
  margin: 0;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50px;
  right: 20px;
  font-size: 24px;
  color: white;
  background: black;
  padding: 10px;
  border-radius: 5px;
}

#game-container {
  padding-top: 250px;
  position: relative;
  width: 100px;
  height: 100px;
}

#pacman {
  position: absolute;
  width: 100px;
  height: 100px;
}

.ghost, .cherry {
  position: absolute;
  width: 100px;
  height: 100px;
}
