@import "reset.css";
@import "header.css";

main {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
 .p1 >img {
  display: flex;
  justify-content: center;
  width: 100px;
  padding-top: 250px;
}

 .p2 >img {
  display: flex;
  justify-content: center;
  width: 90px;
  padding-top: 230px;
}
